/* Mix! */
 

 @mixin xition {
   -webkit-transition: all 200ms ease-out .25s;
      -moz-transition: all 200ms ease-out .25s;
      -o-transition: all 200ms ease-out .25s;
      transition: all 200ms ease-out .24s;
  }


@mixin center-flex {
   display: flex;
  align-items: center;
  justify-content: center;
  }


@mixin justify{
  display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */ 
    display: flex;
    justify-content: space-around;
}

@mixin just-center{
  display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin c-block{
  margin:0 auto;
  display:block;
}

$gray: #414042;
$lightgray: #eaeaea;
