/*============================================

Content Universal Styles

============================================*/

body{
  font-family:$serif;
}

 
h1{
  font-family: $header;
      font-weight: 900;
}

h2{
  font-family: $serif;
  font-variant:small-caps;
  font-weight: 400;
  line-height:90%;
}

a{
  color:#000;
  border-bottom:5px solid #2abcff;
}

img{
  height:100%;
  display:block;
}

.destination{
  position:relative;
  text-align:center;

  a{ 
    background-color:rgba(0,0,0,0.3);
    z-index:150;
    border-bottom:none;
  }

  .feature{
    padding: 10rem 0;
    background-size: cover!important;
    background-position: center!important;
    opacity:0.5;
    @include transition-quick;
  }

  .feature:hover{
    opacity: 1;
  }


  }

  .entry-content{

  img{
    height:auto;
  }
}

.fp-intro{
  min-width:100%;
}
 
.contact-glen {
max-width:700px;

  input[type=submit]{
    font-family:$header;
    padding:1rem;
    font-size:2rem;
    border:none;
  }
}

.spec-wrap{
    position: relative;
  background-color:rgba(0,0,0,1); 
  color:#000;
   @include transition-quick;

  h3{
      text-align:center;
      z-index:200;
      position: absolute;
top: 45%;
    width: 100%;
    margin:0;
    background-color:rgba(255,255,255,0.9);
    padding:.5rem;
    font-family:$subheader;
    font-variant:small-caps;
     @include transition-quick;
    }
} 

.spec-wrap:hover{

h3{
 display:none;
 @include transition-quick;
}
}

.site-foot{

  text-align:center;
  padding:1rem 0;
}





/*============================================

Content Desktop Styles

============================================*/

@media screen and (min-width: 63.9375em){

body{
  // background-image:url('../images/bg.jpg');
  // background-size:cover;
  // background-repeat:no-repeat;

  @include transition
}

.destination{

  .column{
  padding:.9rem;
}
}

.logo{
    width:45%;
    margin:0 auto;
    @include mui-animation(fade(in));
    padding-bottom:80px;
    animation-duration: 1s;
    z-index:1;
  }

.fi-wrap{
width:66%;
float:right;
padding:0rem 0rem 1rem 1rem;

img{
  width:100%;
  height:auto;
  display:block;
}
}



}

/*============================================

Content Tablet Styles

============================================*/

@media screen and (max-width: 63.9375em){
.logo{
  width:70%;
  margin:0 auto;
  height:auto;
  padding-bottom:30px;
}

.destination{

  .spec-wrap{
    margin:1rem 0;
  }
}

.fp-intro{
  padding:0 1rem;
}

.fi-wrap{
width:66%;
float:right;
padding:1rem 1rem;
}

}

/*============================================

Content Mobile Styles

============================================*/

@media screen and (max-width: 39.9375em) {
body{
  // background-image:url('../images/bg-mob.png');
}

.fi-wrap{
width:100%;
float:none;
padding:1rem 1rem;
}

.logo{
  width:50%;
  margin:0 auto;
}

.destination{

  .feature{
    padding:8rem 0;
  }
}
}


/*============================================

Default Stuff

============================================*/

.main-wrap {
  @include grid-row();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }
}

.main-content {

  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(8);
  }

  // 1 column
  .full-width.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(12);
    }
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(8);
      @include grid-col-pos(4);
    }
  }
}

.sidebar {

  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 1rem;
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(4);
      @include grid-col-pos(-8);
      margin-top: 1rem;
    }
  } 
} 