/*============================================

Nav Universal Styles

============================================*/

 .logged-in{

    .desk-nav{
padding-top:2rem;
    }
  }

  .desk-nav{
    position:absolute;
    top:0;
    left:0;
    width:30%;
    z-index:100;
    @include mui-animation(slide(in,right));
  animation-duration: .5s; 

    .menu .active > a{
      background:#000;

    }

    ul{
      list-style-type:none;
      margin:0;


      li{
        margin:.5rem 0;
        display:block;

        a{
          background-color:#000;
          border-bottom:none;
          color:#fff;
          width:100%;
          max-width:300px;
          padding:.5rem 1rem;
          display:block;
          font-family:$serif;
          text-transform:uppercase;
          letter-spacing:.15rem;
        }

        a:hover, .menu .active > a:hover{
         // @include transition;
          background-color:$blue;

          display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
        }

      }
    }
  }



/*============================================

Nav Desktop Styles

============================================*/
@media screen and (min-width: 63.9375em){

 
  
}

/*============================================

Content Tablet Styles

============================================*/

@media screen and (max-width: 63.9375em){

.site-title-bar{
  position:fixed;
  width:100%;
  z-index:1000;
  @include mui-animation(slide(in,down));
  animation-duration: .5s; 
}

.hero-head{

  img{
  margin-top:2rem;
}
}

.logged-in{

.mobile-off-canvas-menu{
  padding-top:3rem;
}  
}

.mobile-off-canvas-menu{
  background-color:#1d1d1d;

  ul{
    list-style-type:none;
    margin:0;

    li{
      display:block;

      a{
        border-bottom:1px solid #dadada;
        display:block;
        padding:.5rem;
        color:#fff;
        letter-spacing:.1rem;
      }
    }
  }
}

  }

/*============================================

Nav Mobile Styles

============================================*/

@media screen and (max-width: 39.9375em) {

}



.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}



// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}



// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}


.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}



// Tablet and desktop menu
.desktop-menu {

  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }
    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}



// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}